.page{
	background-color: white;
	height: 100vh;
	width: 100vw;;
.text-color{
	font-size:36upx;
	font-family:_;
	font-weight:400;
	color:rgba(37,37,37,1)
}
.loginLogo{
	width:750upx;
	height:532upx;
	
	// padding-top:120upx  ;
	// padding-left: 157upx;
	image{
		margin-top: 120upx;
		margin-left: 157upx;
		width:436upx;
		height:112upx;
	}
}
.point{
	width:471upx;
	height:27upx;
	font-size:28upx;
	font-family:_;
	font-weight:400;
	color:rgba(122,122,122,1);
	line-height:33upx;
	margin-top:480upx ;
	margin-left: 140upx ;
}
	.bg-login{
		width:660upx;
		height:86upx;
		margin-top: 50upx;
		margin-left: 45upx;
		background:linear-gradient(180deg,rgba(50,172,255,1),rgba(14, 68, 246, 255));
		background:linear-gradient(180deg,rgba(50,172,255,1),rgba(28,125,246,1));
		border-radius:43px;
		font-size:36upx;
		font-family:_;
		font-weight:400;
		color:rgba(248,248,248,1);
	}
	

}