.handBox{
	width:750upx;
	height:250upx;
	background:#1C7DF6;
	.hand_info{
		height: 100upx;
		// margin-top: 30upx;
		.hand_status{
			padding:16upx 21upx 21upx 21upx;
			float: left;
			font-size:36upx;
			font-family:_;
			font-weight:500;
			color:rgba(255,255,255,1);
			line-height: 100upx;
		}
		.hand_pay{
			float: right;
			padding: 22upx;
			view{
				font-size:32upx;
				font-family:_;
				font-weight:400;
				color:rgba(247, 247, 247, 255);
				text-align: right;
				line-height: 50upx;
			}
		}
	}
	.hand_userInfo{
		width:706upx;
		height:198upx;
		background:rgba(255,255,255,1);
		box-shadow:0px 4px 14px 0px rgba(236,236,236,1);
		border-radius:20px;
		margin:40upx 22upx 22upx 22upx;
		.font_icon{
			float: left;
			// padding: 26upx 82upx ;
			line-height: 198upx;
			text-align: center;
			height: 198upx;
			width: 72upx;
		}
		.userInfo{
			float: left;
			width: 630upx;
			height: 198upx;
			padding: 40upx 0;
			view{
				padding: 11upx;
				}
			.user_nameTEl{
				font-size:30upx;
				font-family:PingFang SC;
				font-weight:500;
				color:rgba(37,37,37,1);
			}
			.user_add{
				font-size:26upx;
				font-family:PingFang SC;
				font-weight:500;
				color:rgba(122,122,122,1);
			}
		}
	}
}
.goods_info{
	width:706upx;
	height:910upx;
	background:rgba(255,255,255,1);
		box-shadow:0px 4px 14px 0px rgba(236,236,236,1);
	border-radius:20px;
	margin:130upx 22upx 114upx  22upx;
	.info_title{
		height: 40upx;
		line-height: 40upx;
		padding: 33upx 25upx;
		font-size:32upx;
		font-family:_;
		font-weight:500;
		color:rgba(37,37,37,1);
		}
	.orderList{
		width:100%;
		height:200upx;
		background:rgba(255,255,255,1);
		.order_time{
			width:196upx;
			height:25upx;
			font-size:26upx;
			color:rgba(122,122,122,1);
			float: left;
		}
		.order_status{
			width:100upx;
			height:25upx;
			font-size:26upx;
			font-weight:600;
			color:rgba(228,57,17,1);
			float: right;
		}
		.order_body{
			padding: 22upx;
			.order_img{
				width:158upx;
				height:156upx;
				float: left;
				image{
					border-radius: 22upx;
					width: 100%;
					height: 100%;
				}
			}
			.order_text{
				float: left;
				margin: 22upx;
				.text_js{
				width:362upx;
				height:76upx;
				font-size:28upx;
				font-family:PingFang SC;
				font-weight:500;
				color:rgba(37,37,37,1);
				text-overflow: -o-ellipsis-lastline;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  display: -webkit-box;
				  -webkit-line-clamp: 2;
				  line-clamp: 2;
				  -webkit-box-orient: vertical;
			}
			.text_format{
				width:170upx;
				height:25upx;
				font-size:26upx;
				margin-top: 10upx;
				font-family:PingFang SC;
				font-weight:500;
				color:rgba(122,122,122,1);
			}
			}
			.order_jgsl{
				margin-top: 22upx;
				width:40upx;
				float: left;
				.order_price{
					font-size:28upx;
					font-family:_;
					text-align: right;
					font-weight:400;
					color:rgba(228,57,17,1);
				}
				.order_num{
					font-size:28upx;
					margin-top: 10upx;
					font-family:PingFang SC;
					font-weight:500;
					text-align: right;
					color:rgba(122,122,122,1);
				}
			}
		
			
		}
	}
	.pay_detail{
		width:706upx;
		height:304upx;
		background:rgba(255,255,255,1);
		border-radius:20upx;
		margin-top: 20upx;
		.pay_title{
			height: 40upx;
			line-height: 40upx;
			padding: 33upx 25upx;
			font-size:32upx;
			font-family:_;
			font-weight:500;
			color:rgba(37,37,37,1);
			}
			.order_submit{
				width:600upx;
				height:54upx;
				margin-left: 250upx;
				margin-top: 183upx;
				border-radius:27upx;
				button{
					float: left;
					height:54upx;
				}
				.ys_white{
					border:2upx solid rgba(220,220,220,1);
					border-radius:27upx;
					font-size:26upx;
					font-family:PingFang SC;
					font-weight:500;
					color:rgba(177,177,177,1);
					background-color: white;
					margin-left:238upx;
				}
				.ys_blue{
					margin-left: 40upx;
					font-size:26upx;
					font-family:PingFang SC;
					font-weight:500;
					color:rgba(248,248,248,1);
					background:linear-gradient(180deg,rgba(50,172,255,1),rgba(28,125,246,1));
					border-radius:27upx;
				}
			}
	}
}
.flex{
	padding: 0 20upx;
}